{% extends "base_generic.html" %}

{% block title  %}Home page{% endblock  %}

{% block content %}
    <h1>Local library Home</h1>
    <p>Welcome to <em>LocalLibrary</em>,
        a very basic Django website developed as tutorial example on the Mozilla Developer Network
    </p>
    <h2>Dynamic Content</h2>
    <p>The library has the follwing record counts: </p>
    <ul>
        <li><strong>Books: </strong>{{ num_books }}</li>
        <li><strong>Copies: </strong> {{ num_instances }}</li>
        <li><strong>Copies Available: </strong>{{ num_instances_available }}</li>
        <li><strong>Authors: </strong> {{ num_authors }}</li>
        <li><strong>Genres: </strong>{{ num_genre }}</li>
        <li><strong>Contains python: </strong>{{ num_python }}</li>
    </ul>
    <p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}</p>
{% endblock  %}
